body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.header-container {
    background-color: #1f2937;
   
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    
    gap: 300px;
}

.Header-Links {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    font-size: 18px;
    color: #e5e7eb;
    
}

a {
    color: #f9faf8;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.blockOne {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 110px;
    padding: 80px;
    
}

.left-content {
    width: 350px;
}

.left-content h1 {
    font-size: 48px;
    flex-wrap: wrap;
    
}

.left-content h1, .left-content p {
    margin: 0px;
}

.left-content p{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.img {
   
    display: flex;
    flex: auto;
    
}

.img-container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
    background-color: gray;
}

button {
    background-color:#3882f6;
    color: white;
    border-radius: 8px;
    padding: 4px 16px;
    border: none;
}

.blockTwo {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px;

}

.blockTwo h1 {
    margin: 32px;
}

.subtext-container {
    display: flex;
    justify-content: center;
    width: 700px;
    gap: 32px;
}

.subtext {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 150px;
    height: 75px;
    padding-bottom: 64px;
    text-align: center;
    
    flex: 1;
}

.image-placeholder {
    width: 150px;
    height: 150px;
    border-width: 3px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
}

.blockThree {
    background-color: #e5e7eb;
    justify-content: center;
    display: flex;
    padding: 64px;
}

.blockThree div {
    width: 700px;
}

.blockThree p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 18px;
}

.foot {
    justify-content: center;
    background-color: #1f2937;
}